.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;

}
body{
}
.logo{

}
.my-time{
  display: block;
  color: MediumAquamarine;
  margin: auto 190px auto 20px;
}
.navigation{
  display: block;
}
span{
  margin: 60px;
}
.main{
  display: flex;
  justify-content: space-around;
  position: fixed;
}
.large.column {
  width:630;
  display: flex;
  border: 1px solid black
  position: relative;
}

.tuna{
  background-image: url(resources/images/main.png);
  display: flex;
}
.steak{
  display: inline-block;
  image-repeat: no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;

}
.backwards{
  background-image: url(resources/images/fall.png);
  display: flex;

}
.camera{
  background-image: url(resources/images/camera.png);
  display: flex;
  }
.heading{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.bold{
  font-weight: bold;
}
.medium.column{
  width: 300px;
  display: flex;
  border: 1px solid black
  position: relative;
}
.small.column, div{
  width: 240px;
  display: flex;
  border: 1px solid black
  position: relative;
}
.cats{
  display: flex;
}
.cookie{
  display: flex;
}
.story {
  font-famly: Georgia;
  font-size: 17px;
  color: black;
}
